@tailwind base;
@tailwind components;
@tailwind utilities;

nextjs-portal {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  background: linear-gradient(to bottom, #240775, #f98035, #fefbf3, #f7d178);
}
